body{
    background-image: url("https://imgc.allpostersimages.com/img/print/posters/marvel-comics-retro-background_a-G-13757638-4985788.jpg");
    position: static;
}

@media screen and (max-width: 810px) {
    /* Esconde os links apos o primeiro */
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.listIcon {
        float: right;
        display: block;
    }
}
    
@media screen and (max-width: 810px) {
    .topnav.responsive {
        position: fixed;
    }
    .topnav.responsive a.listIcon {
        position: absolute;
        top: 0;
    }
    .topnav.responsive .top-nav-button {
        float: right;
        display: block;
        text-align: left;
    }
}

/* Dropdown div */
#dropdown {
    right: 0;
    position: fixed;
    overflow: hidden;
    margin-top: 70px;
    display: none;
    z-index: 10;
    border-bottom-left-radius: 10px;
}
#dropdown .topnav-button{
    float: right;
    display: block;
    background-color: rgb(237, 29, 36);
    color: white;
    font-family: Impact;
    text-align: center;
    width: 180px;
    text-decoration: none;
    padding: 10px 26px;
    font-size: 30px;
}
#dropdown .topnav-button:hover {
    color: white;
    font-size: 33px;
    padding: 5px 0px;
    text-decoration: none;
}

/* CSS barra de navegação */
.topnav {
    background-color: rgb(237, 29, 36);
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 10;
}
.topnav .listIcon {
    display: none;
    color: white;
    font-size: 46px;
    padding: 0px 10px;
}
.topnav-button {
    float: left;
    display: block;
    background-color: rgb(237, 29, 36);
    color: white;
    font-family: Impact;
    text-align: center;
    padding: 13px 30px;
    text-decoration: none;
    font-size: 30px;
}
.topnav-button:hover {
    color: white;
    font-size: 33px;
    padding: 8px 22.5px;
    border: 3px solid transparent;
    text-decoration: none;
}
.logo{
    background-color: rgb(237, 29, 36);
    float: left;
    height: 70px;
    padding: 10px;
}
.active{
    background-color: #444444;
    color: white;
}

/* CSS Slideshow */
.slider-container{
    position: relative;
    width: 1000px;
    height: 500px;
    margin: auto auto;
    overflow: hidden;
    text-align: center;
    border: 3px solid black;
}

.image-container{
    position: relative;
    transition: 1.5s;
    -webkit-transition:1.5s;
    -o-transition: 1.5s;
    background-color: black
}
.image-container img{
    float: left;
    padding: 0%;
    width: 1000px;
}
.slideshow-button{
    background-color: rgb(237, 29, 36);
    color: white;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    position: absolute;
}
.slideshow-button:hover{
    background-color: rgb(187, 9, 15);
    color: black;
    text-decoration: none;
    border: 2px solid black;
}
.slideshow-button.previous {
    margin-top: 225px;
    z-index: 9;
}
.slideshow-button.next {
    margin-top: 225px;
    z-index: 9;
}
/* CSS Títulos */
.title-lables{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    text-decoration: none;
    font-family: Impact;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 50px;
    background-color: transparent;
    color: white;
}
